<!DOCTYPE html>
<html>
<head>
    <title>Delete your account?</title>
</head>
<body>
    <h1>Please put your Email and Password</h1>
    <form action="/account_delete"  method="POST" >
        <p><label for="email">email:</label>
        <input type="text" id="Email" name="email"><br><br></p>
        <p><label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br></p>
        <input type="submit" value="Delete">
    </form>
</body>
</html>
