<!DOCTYPE html>
<html>
<head>
    <title>admin_page</title>
</head>
<body>
    <h1>admin_page</h1>
    <div>
        <a href="flight_creation_form"><button >Flight Creation</button></a>
        <a href="modifyprice_form"><button type="button">Flight Price Manager</button></a>
        <a href="flight_delete_form"><button type="button">Flight Cancellation</button></a>
        <a href="view_flights"><button type="button">Flight Info</button></a>
        <a href="find_flight_form"><button type="button">Flight Finder</button></a>
        <a href="home"><button>Exit</button></a>

</body>
</html>
