<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Price Modifier</h1>
    <form action="/find_flight"  method="POST" >
        <p><label for="start">Where from?:</label>
        <input type="text" id="start" name="start"><br><br></p>
        <p><label for="stop">Where to?:</label>
        <input type="text" id="stop" name="stop"><br><br></p>
        <p><label for="flight_date">When?:</label>
        <input type="date" id="flight_date" name="flight_date"><br><br></p>
        <input type="submit" value="Search">
    </form>
</body>
</html>
