<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Flight Finder</h1>
    <form action="/find_flight"  method="POST" >
    <ul>
        {% for flight in flights %}
            <li>
                <strong>Start:</strong> {{ flight.start }}<br>
                <strong>Stop:</strong> {{ flight.stop }}<br>
                <strong>Flight Date:</strong> {{ flight.flight_date }}<br>
                <strong>Economy Price:</strong> {{ flight.economy_price }}<br>
                <strong>Business Price:</strong> {{ flight.business_price }}<br>
                <strong>Economy Seats:</strong> {{ flight.economy_seats }}<br>
                <strong>Business Seats:</strong> {{ flight.business_seats }}<br>
            </li>
        {% endfor %}
    </ul>

        <p><label for="start">Where from?:</label>
        <input type="text" id="start" name="start"><br><br></p>
        <p><label for="stop">Where to?:</label>
        <input type="text" id="stop" name="stop"><br><br></p>
        <p><label for="flight_date">When?:</label>
        <input type="date" id="flight_date" name="flight_date"><br><br></p>
        <input type="submit" value="Search">
        
    </form>
<a href="admin_page.html"><button>Return</button></a>
</body>
</html>
